#addItemButton{
    background-color: greenyellow;
    border: solid black;
    border-radius:1px;
    border-right: 0px;
   margin-right: -4px;
   z-index: 2;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
.box{
    height: 52px;
    display: flex;
    margin-top: 5%;
    margin-left: 16.5%;
}
.createtext{
    
       
    font-family: 'Times New Roman', Times, serif;
    border-radius:5px;
    border: solid black;

}
#sort{
    background-color: lightskyblue;
    border: solid black;
    border-radius:1px;
    border-right: 0px;
   margin-left: -10px;
   z-index: 2;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}